<nav class="navbar navbar-expand-md" role="navigation">
  <a class="navbar-brand" href="">
    <!--<span class="glyphicons glyphicons-battery-charging"></span>-->
    <img src="/glyphicons/png/glyphicons-765-battery-charging.png" />
  </a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/">Home</a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Challenges
      </a>
      <ul class="dropdown-menu">
        <!-- JS -->
        <li class="pl-2">JavaScript</li>
        <li class="dropdown-item">
          <a href="/challenges/limitedAlert">limitedAlert</a>
        </li>
        <li class="dropdown-item">
          <a href="/challenges/EventEmitter">EventEmitter</a>
        </li>
        <li class="dropdown-item">
          <a href="/challenges/uniqueArray">uniqueArray</a>
        </li>
        <li class="dropdown-item">
          <a href="/challenges/palindrome">palindrome</a>
        </li>
        <li class="dropdown-divider"></li>

        <!-- Non-JS -->
        <li class="pl-2">Non-JS</li>
        <li class="dropdown-item">
          <a href="/challenges/git">git</a>
        </li>
        <li class="dropdown-item">
          <a href="/challenges/bash">Bash &amp; Terminal</a>
        </li>
        <li class="dropdown-item">
          <a href="/challenges/database">Database &amp; User Records</a>
        </li>
        <li class="dropdown-item">
          <a href="/challenges/scraping">Batch Processing &amp; Scraping</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="/tests">Tests</a>
    </li>
  </ul>
</nav>