<nav class="navbar navbar-expand-md" role="navigation">
    <a class="navbar-brand" href="#">
        <!--<span class="glyphicons glyphicons-battery-charging"></span>-->
        <!--<img src="/glyphicons/png/glyphicons-765-battery-charging.png" />-->
    </a>

    <ul class="navbar-nav">
        <li class="nav-item nav-text"><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Challenges
            </a>
            <ul class="dropdown-menu">
                <li>&ensp;Coding</li>
                <li class="dropdown-item"><a href="/limitedalert">Limited Alert</a></li>
                <li class="dropdown-item"><a href="/eventemitter">Event Emitter</a></li>
                <li class="dropdown-item"><a href="/uniquearray">Unique Array</a></li>
                <li class="dropdown-item"><a href="/palindrome">Palindrome</a></li>

                <li role="separator" class="divider"><hr></li>

                <li>&ensp;DevOps</li>
                <li class="dropdown-item"><a href="/git">Git Commands</a></li>
                <li class="dropdown-item"><a href="/linux">Linux Commands</a></li>
                <li class="dropdown-item"><a href="/database">Database</a></li>
                <li class="dropdown-item"><a href="/webscraping">Web Scraping</a></li>
            </ul>
        </li>
        <li class="nav-item nav-text"><a href="/tests">Tests</a></li>
    </ul>
</nav>